body {
  display: flex !important;
  align-content: center !important;
  justify-content: center !important;
  background-color: #202020 !important;
  color: white !important;
  font-family: cascadia code;
}

ul {
  width: 70vw;
  text-align: center;
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.2);
}

li {
  background-color: #202020 !important;
  color: white !important;
}

div {
  text-align: center;
}

h1 {
  padding: 25px;
}

.alert {
  margin: 15px;
}
